# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/

# Testing
coverage/

# Env files
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
nul

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/*.db
prisma/*.db-journal

# Docker
docker-compose.override.yml

# Deploy
.coolify-token

# Misc
*.tsbuildinfo
